*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    overflow-x: hidden;
}

label{
    font-weight: 700;
}
input:active{
    border:none;
}
input:user-invalid{
    border: 2px solid red;

}
input:user-valid{
    border: 2px solid blue;

}